
/* The whole app*/
* {
  margin: 0;
  padding: 0;
}


/* //////////////////////////////////// FOOOTER /////////////////////////// */

/* all of the footer */
.footer {
  background-color:#366fc9;
  color: rgb(0, 0, 0);
  text-align: left;
  color: white;
  position: relative;
  top: 175px;
  bottom:0;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 5px;
}

/* ///////////////////////////////////// LISTS ////////////////////////// */

/* all lists */
ul{
  list-style: none;
}

/* ///////////////////////////////////// LINKS ///////////////////////// */
/* link tags */
a:link {
  color: #a4bbe0;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #a59bf3 !important;
  text-decoration: none !important;
}

/* vistited links */
a:visited {
  color:#a4bbe0;
  background-color: transparent;
  text-decoration: none;
}


/* ///////////////////////////////// TOP BUTTON ///////////////////// */
/* Return to the top of the page button */
.top{
 
  margin-top: 5px;
  box-shadow: 0px 1px 8px 1px #534e7a;
  text-shadow: darkgrey;

}

/* When the top of page button has been clicked  */
.top:hover{
  background-color: #c8cddb !important;
}

/* /////////////////////////////////// COPYRIGHT ///////////////////// */
/* Copyright part of the footer */
.footer-copyright{
  text-align: center;
}

