
.icon {
  color: white !important;
  margin: 30px 10px 0px 10px;
  
}

.icon:hover {
  color: #d0d0d0da !important;
}

.photo {
  margin: 20px auto auto auto;

}

.p{
  text-align: center;
  padding: 3%;
}

.card-text {
  margin: 20px 20px 30px 20px;
  text-align: justify;
}

.mcol {
  margin: auto auto auto auto !important;
}