/* Font Libaray */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Poppins';
  font-weight: 700px;
  font-style: normal;
}
.App {
  text-align: center;
}

/***************************** HEADER *********************************************/
.App-header {
  /* 
    I Was thinking it would be cool to have a photo of a victoria view
    Could also make this a  bootstrap carousel.
  */
  background-image: url(../images/boat.jpg);
  background-position:center top;
  background-size: 100%;
  width: 100%;
  align-items: center; 
  justify-content: center; 
  /* font-size: calc(10px + 2vmin); */
  color:#2c59a0;
  padding: 7px;
}
.Header-text h1{
  font-weight: bold;
}
.Header-text{
  font-size:1.8vw;
  font-weight: regular;
  text-shadow:0px 5px 10px #ffffff;
  line-height: 80%;

  /* 
  font-family: 'Exo', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif; 
  font-family: 'Raleway', sans-serif;
  font-family: 'Titillium Web', sans-serif; 
  */
}

.jumbo {
  width: 99%;
  align-items: center; 
  justify-content: center; 
  background:transparent  !important;
  margin: 20px auto auto auto;
}

/*************** LOGOS ********/
.Logos{
  background-color: white;
  width: 50%;
  margin: auto;
  box-shadow: 0px 3px 8px 1px #0C0343;
  border-radius: 5px;
}

.Checkfront-logo{
  width: 50%;
  padding: 10px;
  background-color: white;
}
.Camosun-logo{
  width: 50%;
  padding: 10px;
  background-color: white;
}
/**************** logo end *****************/


.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



