.desc {
  margin: 20px 0px 20px 0px;
  text-align: left;
  display: block;
}

.homePicture{
  max-width: 95%;
  max-height: 95%;
  margin-top: 10px;
 
}

.bottomPicture{
  max-width: 95%;
  max-height: 95%;
}

.buzzword{
  color: #366fc9;
  font-weight: bold;
  font-size: xx-large; 
  text-align: center;
}

.text-spacing {
  margin-bottom: 20px;
  margin-top: 10px;
}
