.search-input#Search {
  cursor: pointer;
  border: solid 2px black;
  transition: border-color .2s ease-out;
  padding-left: 10px; }
  .search-input#Search:hover, .search-input#Search:focus, .search-input#Search:active {
    border-color: white; }

#shopify-section-collection {
  opacity: 0;
  transition: opacity .7s ease-out; }
  #shopify-section-collection.opaque {
    opacity: 1; }

a.location-pin {
  position: absolute;
  top: -9px;
  left: -2px; }
  @media screen and (max-width: 1024px) {
    a.location-pin {
      top: -14px; } }

.location-selection-wrapper {
  cursor: pointer;
  width: 248px;
  padding: 24px;
  background-color: white;
  right: 0;
  top: 41px;
  position: absolute;
  opacity: 1;
  cursor: default;
  transition: opacity .3s ease-out; }
  @media screen and (max-width: 1024px) {
    .location-selection-wrapper {
      left: -48px;
      top: 20px; } }
  .location-selection-wrapper .location-selection-inner-wrapper {
    display: block; }
  .location-selection-wrapper.hidden {
    opacity: 0;
    height: 0; }
    .location-selection-wrapper.hidden .location-selection-inner-wrapper {
      height: 0;
      display: none; }

.pin-wrapper {
  position: relative;
  cursor: pointer;
  padding: 0 8px;
  z-index: 1;
  display: block; }

p.small {
  font-size: 10px; }

.other-nav a.modal-trigger {
  color: black; }

.location-modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  transition: all .3s ease-out;
  top: 0;
  left: 0;
  z-index: 11;
  opacity: 1; }
  .location-modal.hidden {
    display: none; }
  .location-modal .overlay {
    background-color: black;
    position: absolute;
    display: block;
    opacity: .5;
    z-index: 10;
    height: 100%;
    width: 100%; }
  .location-modal .modal-outer-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px; }
  .location-modal .modal-inner-wrapper {
    display: table-cell;
    vertical-align: middle;
    z-index: 11;
    position: relative; }
  .location-modal .modal-content {
    position: relative;
    background-color: white;
    padding: 30px;
    width: 700px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 0px; }
    .location-modal .modal-content h2 {
      font-size: 1.5em;
      font-weight: bold;
      color: #212b36; }
    .location-modal .modal-content .button {
      max-width: 252px;
      height: 74px;
      padding: 27px 12px;
      margin: 2px; }
    @media screen and (max-width: 700px) {
      .location-modal .modal-content {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem; } }
  .location-modal .modal-btn-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(1.5rem + 42px);
    margin-left: 0;
    margin-right: 0; }
    @media screen and (max-width: 700px) {
      .location-modal .modal-btn-wrapper {
        margin-top: 1.5rem; } }
  @media screen and (max-width: 1024px) {
    .location-modal .modal-content-body {
      display: flex;
      flex-direction: column; } }
  .location-modal .redirect-location-link {
    width: 100%;
    text-align: center;
    padding: 6px 0; }

.locations-modal--close {
  position: absolute;
  top: 14px;
  right: 14px;
  display: block;
  width: 22px;
  height: 22px;
  overflow: hidden;
  opacity: .6;
  cursor: pointer; }

.locations-modal--close::before,
.locations-modal--close::after {
  content: "";
  position: absolute;
  height: 1px;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  background: #000; }

.locations-modal--close::before {
  transform: rotate(45deg); }

.locations-modal--close::after {
  transform: rotate(-45deg); }

.mobile-nav-icons li a.modal-trigger {
  color: black; }

span.current-location {
  color: black; }

@media screen and (max-width: 700px) {
  .slickModal div[data-type="fullpage-video"],
  .slickModal div[data-type="fullpage-text"] {
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem; } }

.slickContent .button:hover span {
  color: #000 !important; }
@media screen and (max-width: 700px) {
  .slickContent #Action-Button-Wrapper {
    margin-top: .4rem !important; }
  .slickContent #Action-Button-Wrapper .button {
    min-width: 252px;
    padding: 25px 12px;
    margin-bottom: 4px; } }

.slick-mobile-product-images .slick-track {
  display: flex;
  align-items: center; }

.icons-column {
  flex: unset; }

@media screen and (max-width: 1186px) {
  .nav-list {
    font-size: 14px; }
    .nav-list .search-input::placeholder {
      font-size: 14px; }
    .nav-list li {
      margin: 0px 1.5% 20px; } }
@media screen and (max-width: 1096px) {
  .nav-list li {
    margin: 0px 1% 20px; } }

.navigation {
  padding: 0; }

@media screen and (max-width: 1024px) {
  .promo-text--right {
    display: none; } }

@media screen and (max-width: 1024px) {
  .utility-bar .utility-left {
    text-align: center; } }

.shipping-notice {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  font-size: 12px; }
  .shipping-notice div {
    padding: 0 24px;
    text-transform: uppercase;
    align-self: center; }
  .shipping-notice .modal-trigger {
    cursor: pointer;
    border-right: 1px solid black; }
  .shipping-notice a {
    font-weight: 400; }

@media screen and (max-width: 1024px) {
  .footer-extras {
    margin-top: 0 !important; } }

.footer-shipping-notice {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: calc(1.5em + 15px); }
  @media screen and (min-width: 1024px) {
    .footer-shipping-notice {
      display: none; } }
